@model IbsaAppTeam1Pra.Models.Transaction
@{
    ViewData["Title"] = "Dashboard";
}
<h1 class="text-center mt-5">POČETNA STRANICA</h1>


<hr />
<div class="row">
<div class="col-md-6">
        <form id="paymentForm" form asp-action="Dashboard" method="post" style="flex: 1; margin-left: 2px; border: 0.8px solid black; border-radius: 10px; padding: 30px; padding-left: 10px; padding-right: 10px;">
            <h1>Plaćanje</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sender.AccountOne" class="control-label">Broj računa platitelja:</label>
                <input asp-for="Sender.AccountOne" class="form-control" />
                <span asp-validation-for="Sender.AccountOne" class="text-danger"></span>
            </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                    <label asp-for="Model" class="control-label">Iznos:</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                    <label asp-for="Model" class="control-label">Model i poziv na broj:</label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                </div>  

            <div class="form-group">
                <label asp-for="ReceiverName" class="control-label">Primatelj:</label>
                <input asp-for="ReceiverName" class="form-control" />
                <span asp-validation-for="ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverAccountNumber" class="control-label">Broj računa primatelja:</label>
                <input asp-for="ReceiverAccountNumber" class="form-control" />
                <span asp-validation-for="ReceiverAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis plaćanja:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Datum plaćanja:</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group" id="passwordConfirmation" style="display: none;">
                <label for="ConfirmPassword" class="control-label">Confirm Password:</label>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                <span class="text-danger" id="passwordError" style="display:none;">Password is required</span>
            </div>


            <div class="form-group">
                <button type="button" class="btn btn-primary" id="confirmPaymentButton" onclick="showConfirmation()">Plati</button>
            </div>
        </form>
</div>

<div class="col-md-6">
<form style="flex: 1; margin-left: 2px; border: 0.8px solid black; border-radius: 10px; padding: 30px; padding-left: 10px; padding-right: 10px;">
        <h1>Pregled prometa:</h1>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Od:</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Do:</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    @*table with four columns: Datum, Iznos, Primatelj, Opis*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Datum
                </th>
                <th>
                    Iznos
                </th>
                <th>
                    Primatelj
                </th>
                <th>
                    Opis
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ReceiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary mt-3">Filtriraj</button>
</form>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    let confirmationShown = false;

    function showConfirmation() {
        if (!confirmationShown) {
            
            if (confirm('Jeste li sigurni da želite provesti plaćanje?')) {
                document.getElementById('passwordConfirmation').style.display = 'block';
                confirmationShown = true;
            }
        } else {
            validatePassword();
        }
    }

    function validatePassword() {
        var password = document.getElementById('ConfirmPassword').value;
        if (!password) {
            document.getElementById('passwordError').style.display = 'block';
        } else {
            document.getElementById('paymentForm').submit();
        }
    }
</script>